extends ../layouts/main.pug

block globals
    - const title = "The Adventute of a Lifetime"

block content
    h1#header= title

    p.intro-text.second-class(data-attr="my value") It was a rainy day in Pizzaville...
